.nav {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 998;
    color: var(--slate);

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.hamburger-menu {
    font-size: 1.1rem;
    /* display: flex; */
    /* flex-direction: column; */
    height: 0;
    .menu__box {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -30px;
        left: -100%;
        width: max(min(100vw, 400px), 60vw);
        height: 200vh;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: start;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    }
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center; /* центрируем содержимое кнопки */
        position: fixed;
        top: 0px;
        /* left: 10px; */
        width: 26px;
        height: 26px;
        backdrop-filter: blur(10px);
        padding: 24px;
        border-bottom-right-radius: 20%;
        border: 1px solid #b8ffc858;
        border-top: none;
        border-left: none;
        cursor: pointer;
        z-index: 1;
        background-color: #ffffff24;

    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 26px;
        height: 2px;
        left: 10px;
        background-color: var(--main-green);
    }
    .menu__btn > span::before {
        content: "";
        top: -8px;
        left: 0;
    }
    .menu__btn > span::after {
        content: "";
        top: 8px;
        left: 0;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        display: flex;
        left: 0;
        height: 100vh;
    }
    .search-field,
    .search-results {
        box-shadow: 1px 1px 4px var(--slateOp);
    }
    .fixed-nav {
        background: linear-gradient(
            114.3deg,
            rgba(225, 255, 236, 0.4) 0.2%,
            rgba(206, 239, 255, 0.4) 68.5%
        );
        backdrop-filter: blur(15px);
        border: 1px solid #b8ffc858;
    }
    .search-wrapper {
        padding: 1rem;
    }
    .search-icon {
        top: 1.2rem;
        right: 2rem;
    }
    .search-wrapper:has(.search-results) ~ .nav-list {
        display: none;
    }
    .nav-list {
        margin-top: 1rem;
        gap: 1rem;
    }
    .search-wrapper:has(.search-results) .search-field {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .search-results {
        position: relative;
        top: 0;
        max-height: 400px;
    }
    .search-results li {
        border-bottom: 1px solid #61616138;
    }
}
@media (max-width: 410px) {
    .hamburger-menu {
        .menu__btn {
            padding: 18px;
        }

        .menu__btn > span{
            left: 5px;
        }
    }
}
.ordinary-menu {
    display: none;
    padding: 12px 0;
}
.nav-list {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.nav-item {
    margin-left: 1rem;
    /* padding: 8px 12px; */
    font-weight: 600;
    color: var(--slate);

    transition: color var(--animation), background-color var(--animation),
        box-shadow var(--animation);
}
#menu__toggle {
    opacity: 0;
}
/* SEARCH */
.search-wrapper {
    position: relative;
}
.search-results {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    background: rgb(246, 249, 252);
    max-height: 200px;
    overflow-y: auto;
    z-index: 70;
    list-style: none;
    padding: 0;
    margin-top: auto;
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    li {
        padding: 5px;
        cursor: pointer;
        color: var(--slate);
    }

    .highlight {
        background-color: yellow;
    }
}
.search-icon {
    position: absolute;
    transform: translate(0, 50%);
    right: 12px;
}

.search-field {
    border: none;
    border-radius: 12px;

    padding: 10px 16px;
    width: 100%;
    background-color: rgb(246, 249, 252);
}
/* end */
.fixed-nav {
    background: linear-gradient(
        114.3deg,
        rgb(19, 126, 57, 0.2) 0.2%,
        rgb(8, 65, 91, 0.2) 68.5%
    );
    backdrop-filter: blur(10px);

    color: var(--white);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);

    .nav-link:hover {
        color: rgb(235, 229, 34);
    }
}

@media (min-width: 850px) {
    .ordinary-menu {
        display: block;
    }
    .hamburger-menu {
        display: none;
    }
    .nav {
        width: 100%;
        font-size: 1rem;
    }
    .nav .container {
        height: unset;
        flex-direction: row;
    }
    .fixed-nav {
        background: linear-gradient(
            114.3deg,
            var(--gradient-c1) 0.2%,
            var(--gradient-c2) 68.5%
        );
        backdrop-filter: unset;
    }
    .nav-list {
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        display: flex;
        gap: 16px;
    }
    .nav-item {
        margin-left: 0;
        color: unset;
    }
    .menu__btn {
        display: none;
    }
    .search-field {
        width: 220px;
    }
}

@media (min-width: 1280px) {
    .nav-list {
        gap: 24px;
    }

    .search-field {
        width: 272px;
    }
}
