.products {
    background-image: linear-gradient(
            114.3deg,
            rgba(19, 126, 57, 0.3) 0.2%,
            rgba(8, 65, 91, 0.3) 68.5%
        ),
        url(../assets/bg-images/prod.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    text-align: center;
    color: var(--white);
    z-index: 10;
}
.products-text, .products-title {
    text-shadow: 1px 1px 6px var(--slate);
}
.products-title {
    font-size: max(2.5rem, 0.1vw);
    text-align: center;
}
.after-title {
    margin-bottom: 0.5rem;
}
.products-text {
    margin-bottom: 1.5rem;
    text-align: end;
}
.product-types-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.ptl-item {
    font-size: 1.75rem;
    padding: 8px 16px;
    cursor: pointer;
}
.ptl-item.active {
    background-color: var(--slateOp);
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 4px var(--slateOp);
}
.product-items-list {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    max-height: 360px;
    overflow: hidden;
}
.pil-item {
    font-size: 1.5rem;
    color: cadetblue;
}
.swiper-slide {
    border: 1px solid #d8ecfb;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    background-color: aliceblue;
    max-height: 360px;
}
.product-item-img {
    width: 100%;
    aspect-ratio: 2/6;
    object-fit: cover;
    height: 300px;
    margin-bottom: 4px;
}
.slide {
    object-fit: cover;
}

.products .text-wrapper {
    padding: 4px 12px;
}
.pil-title,
.pil-text {
    transition: transform var(--animation);
}
/* .slide:hover .pil-title,
.slide:hover .pil-text,
.slide:focus .pil-title,
.slide:focus .pil-text {
    background-color: var(--white);
    transform: translate(0, -100px);
} */
.slider {
    position: relative;
    overflow: hidden;
}
.slider-wrapper {
    position: relative;
}
.slider-content-wrapper {
    display: flex;
    gap: 60px;
    transition: transform 0.5s ease-in-out;
}
.slider-item {
    min-width: 100%;
    margin: 0 auto;
    border: 1px solid #d8ecfb;
    border-radius: 24px;
    overflow: hidden;
    background-color: aliceblue;
    max-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2/5;
}

.pil-title,
.pil-text {
    transition: transform var(--animation);
}
.slider-button-prev,
.slider-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.slider-button-prev {
    left: 10px;
}
.slider-button-next {
    right: 10px;
}

.none {
    display: none;
}

.product-types-list {
    margin: 0 auto;
    max-width: 1020px;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .slider-item {
        min-width: calc((100%) / 2 - 60px);
    }
    .ptl-item {
        font-size: 1.25rem;
        padding: 6px 12px;
    }
    .slider-button-prev,
    .slider-button-next {
        display: none;
    }
}

@media (min-width: 1024px) {
    .ptl-item {
        font-size: 1.8rem;
        padding: 8px 16px;
    }
    .product-items-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .product-types-list {
        gap: 24px;
    }
    .after-title {
        margin-bottom: 2rem;
    }
    
    .slider-item {
        min-width: calc((100%) / 3 - 60px);
        max-width: 324px;
    }
}
